{% extends 'base.html.twig' %}

{% block title %} Voyages {% endblock %}

{% block main %}
    <section>
        <h1 class="title">Vivez plus qu'un week-end</h1>
        <p class="sub-title">10 000 Hôtels + activités en France et en Europe</p>


        <div class="searchBar">

            <a href="" style="background-color: #A4007E" class="waves-effect waves-light btn right">Rechercher</a>

        </div>

    </section>

    <div class="firstBand">

        <img src="{{ asset('/asset/img/band.png') }}" alt="image" height="103%" width="103%">

    </div>


    <div class="wrapper">
        <div class="wrapperGallery">
            <div>
                <div class="element"><img src="{{ asset('/asset/img/01.jpg') }}" width="350" height="226"></div>
                <div class="element"><img src="{{ asset('/asset/img/02.jpg') }}" width="350" height="226"></div>
            </div>

            <div>
                <div class="element"><img src="{{ asset('/asset/img/03.jpg') }}" width="407" height="458"></div>
            </div>

            <div class="">
                <div class="element"><img src="{{ asset('/asset/img/04.jpg') }}" width="350" height="226"></div>
                <div class="element"><img src="{{ asset('/asset/img/05.jpg') }}" width="350" height="226"></div>
            </div>

            <div>
                <div class="element"><img src="{{ asset('/asset/img/06.jpg') }}" width="350" height="226"></div>
                <div class="element"><img src="{{ asset('/asset/img/07.jpg') }}" width="350" height="226"></div>
            </div>
        </div>
    </div>

    <div class="ventesFlash">

        <h2 class="titre-ventes-flash">
                Ventes flash se terminant prochainement
        </h2>

        <a class="ss-titre-flash">
            <p class="ss-titre">Toutes nos ventes flash</p>
        </a>
    </div>

{% endblock %}
