*{
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1.title {
    font-family: 'Signika', sans-serif;
    margin-top: 0px;
    text-align: center;
    color: white;
    position: relative;
    top: 215px;
    font-size: 70px;
    font-weight: 300;
}

a{
    text-decoration: none;
}

h2.titre-ventes-flash{
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    color: #473b47;
}

a.ss-titre-flash{
    color: #a4007e;
}

p.ss-titre{
    text-align: center;
}

p.sub-title {
    font-family: 'Signika', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    top: 205px;
    font-size: 20px;
    font-weight: normal;
    display: block;
}

.searchBar {
    margin: auto;
    position: relative;
    top: 290px;
    height: 110px;
    width: 960px;
    padding: 0 24px;
    background-color: #fff;
    display: table;
}

section {
    background-image: url(../img/home.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: 595px;
    height: 595px;
    width: 100%;
}

.firstBand {
    /*background-image: url(../img/band.png);
    background-position: center;
    background-size: 100%;*/
    margin: auto;
    max-width: 1059px;
    height: 225px;
    background-color: white;
}

.wrapper{

}

.wrapperGallery {
    width: 1480px;
    display: flex;
    justify-content: space-around;
    height: 438px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ventesFlash{
    margin: auto;
    width: 100%;
    height: 650px;
    background-color: #F9F5FA;
}

hr {
    border: 0.5px dotted white;
}