<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ma Météo{% endblock %}</title>

    {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/asset/css/style.css">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Signika" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}

        <script type="text/javascript"
                src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% endblock %}

</head>
<body>

<nav>
    {% include 'navbar.html.twig' %}
</nav>

<main>
{% block main %}

{% endblock %}
</main>

<footer>
    {% include 'footer.html.twig' %}
</footer>

</body>


</html>
