<nav style="background-color:#c6c6c7" style="opacity:0.3">
<div class="nav-wrapper">
    <a href="" class="brand-logo" style="font-family: 'Dancing Script', cursive"><i class="material-icons">wb_sunny</i>WeekEnd</a>
    <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="material-icons">search</i></a></li>
        <li><a href=""><i class="material-icons">more_vert</i></a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="material-icons right">keyboard_arrow_down</i>Destination</a></li>
        <li><a href=""><i class="material-icons right">keyboard_arrow_down</i>Thèmes</a></li>
        <li><a href=""><i class="material-icons left">watch_later</i>Dernière minute</a></li>
        <li><a href=""><i class="material-icons left">flash_on</i>Ventes flash</a></li>
        <li><a href="">Promos</a></li>
        <li><a href="">À la mer</a></li>

    </ul>
</div>
</nav>